

.button {
    margin-top: 5px;
}
#btnSalir {
    margin-top: 1rem;
}


/* 
Estilos para el contenedor de los formularios
*/



.mtop {
    display: inline;
}
.mBtom {
    margin-bottom: 10px;
}

#contenedorFactura {
    background-image: url(https://www.carroya.com/noticias/sites/default/files/entradillas/432916874parqueadero-tips-cy.jpg);
}


/* .navbar-menu {
    display: block;
} */
